body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}

header {
    background-color: rgba(0, 0, 0, 0.765);
    color: white;
    padding: 0 100px;
    height: 100vh;
}

header nav {
    display: flex;
    justify-content: space-between;
}

.navLinks {
    display: flex;
    margin-right: 50px;
    gap: 50px;
    align-items: center;
}

.navLinks a {
    color: white;
    font-size: 18px;
    font-weight: 700px;
}

#headerLogo {
    height: 75px;
    width: 75px;
    border-radius: 50px;
    margin: 20px 50px;
}

header h1 {
    font-size: 50px;
    font-weight: 900px;
    margin-bottom: 0;
}

.heroSectionContainer {
    display: flex;
    justify-content: space-around;
    flex: 1 0 auto;
    margin: 50px;
    gap: 100px;
}

.leftContainer {
    display: flex;
    flex-direction: column;
}

.heroSectionContainer img {
    border-radius: 15px;
    height: 400px;
    width: 400;
}

.cruiseDestinations {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: 50px;
}

.cruiseDestinations h1 {
    font-size: 50px;
    font-weight: 900px;
}

.cruiseDestinations ul {
    display: flex;
    gap: 50px;
}

.cruiseDestinations ul li p {
    text-align: center;
}

/* All Links and Lists */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
}

button {
    height: 40px;
    width: 100px;
    border-radius: 20px;
}
